<ion-content class="ion-padding">
  <div class="logo-container">
    <img
      src="https://www.caviarcriativo.com/storage/2020/06/Significados-da-Marca-Netflix-1.gif"
      alt="Logo"
    />
  </div>

  <form>
    <ion-list>
      <ion-item class="inputs">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item class="inputs">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item
        ><ion-button
          expand="solid"
          style="--background: #b20710; width: 100%; margin: 18px"
          >Sign in</ion-button
        ></ion-item
      >
    </ion-list>
  </form>

  <ion-list class="login-options">
    <ion-item>
      <ion-label
        >Sua primeira vez aqui?
        <a href="#" style="color: red; text-decoration: none"
          >Crie sua conta!</a
        ></ion-label
      >
    </ion-item>
    <ion-item class="logue">
      <ion-label>Ou logue com</ion-label>
    </ion-item>
    <div class="flex">
      <ion-button color="success" class="botao"
        ><ion-icon name="logo-google"></ion-icon
      ></ion-button>
      <ion-button color="primary" class="botao"
        ><ion-icon name="logo-facebook"></ion-icon
      ></ion-button>
    </div>
  </ion-list>
</ion-content>
