<ion-content class="ion-padding">
  <ion-slides>
    <ion-slide>
      <img
        src="https://www.caviarcriativo.com/storage/2020/06/Significados-da-Marca-Netflix-1.gif"
        alt="Logo 1"
      />
    </ion-slide>
    <ion-slide>
      <img
        src="https://images.squarespace-cdn.com/content/v1/520b6dcee4b0734e32e29746/1553093622986-F8DCADFCEQGUZMAWVVTX/Netflix_anim.gif"
        alt="Logo 2"
      />
    </ion-slide>
  </ion-slides>

  <ion-button
    expand="full"
    class="continue-button"
    [routerLink]="['/tabs/tab2']"
    >Entrar</ion-button
  >
</ion-content>
